* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  */
/* header  */
/*  */

header {
    background-color: #ff6900;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.container.header {
    width:80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista { /*utilizzata anche per lista footer  */
    list-style: none;
    display: flex;
    padding-left: 0;
}

.lista.header li {
    padding-right: 5px;
    color: white;
    font-weight: 700;
}


.logo {
    text-align: center;
    /* non capisco perchè non mi funziona size o heigth  */
}

.img.logo {
    width: 20%;
}

.icone.header {
    display: flex;
}

i {
    padding-left: 5px;
    color: white;
}


/*  */
/* main */
/*  */

main {
    margin-top: 100px;
}

.container.main {
    width:80%;
    height: 100%;
    margin: auto;
    background-color: blue;
}

.row.main {
    display: flex;
}

.product-column {
    width: calc(100% /3);
    margin: 5px;
    border: 1px solid black;
    position: relative;
}

.img.product {
    height: 100%;
    width: 100%;
    text-align: center;
    
}

.like{
    color: black;
    background-color: white;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 5px;
    right: 0;
}

.labels {
    position: absolute;
    bottom: 20px;
    left: 0px;
}

.label {
    padding: 2px;
    color: white;
} 

.label.discount {
    background-color: red;
}

.label.sostenibility {
    background-color: green;
}

/*  */
/* footer  */
/*  */

footer {
    background-color:#1a1a1a; 
    height: 100px;
    width: 100%;
    color: white;
    margin-top: 30px;
}

.container.footer {
    width:80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    padding-bottom: 10px;
}

/* .lista sta sopra in header */
.lista.footer li {
    padding-right: 7px;
    color: white;
}

/* a viene utilizzato anche sopra in header  */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(87, 87, 243);
}

.trovaci{
    font-weight: 700;
    padding-bottom: 10px;
}


/*  */
/* debug */
/* 

.container.header {
    background-color: aquamarine;
}


ul { 
     border: 1px solid black;
     
}


.icone.header {
    border: 1px solid black;
}

.logo {
border: 1px solid black;
}

.container.footer {
    background-color: grey;

}

.colonna-footer {
    border: 1px solid black;
}
*/

.product-column {
border: 1px solid black;
}